In [1]:
import pandas as pd
import datetime as dt

c:\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
c:\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.QVLO2T66WEPI7JZ63PS3HMOHFEY472BC.gfortran-win_amd64.dll
c:\Anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
apartment_for_rent_classified = fetch_ucirepo(id=555) 
  
# data (as pandas dataframes) 
X = apartment_for_rent_classified.data.features # it's a full dataset since target is not defined

# metadata 
print(apartment_for_rent_classified.metadata) 
  
# variable information 
print(apartment_for_rent_classified.variables)

c:\Anaconda3\lib\site-packages\ucimlrepo\fetch.py:97: DtypeWarning: Columns (0,5,6,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_url)

{'uci_id': 555, 'name': 'Apartment for Rent Classified', 'repository_url': 'https://archive.ics.uci.edu/dataset/555/apartment+for+rent+classified', 'data_url': 'https://archive.ics.uci.edu/static/public/555/data.csv', 'abstract': 'This is a dataset of classified for apartments for rent in USA.\n', 'area': 'Business', 'tasks': ['Classification', 'Regression', 'Clustering'], 'characteristics': ['Multivariate'], 'num_instances': 10000, 'num_features': 21, 'feature_types': ['Categorical', 'Integer'], 'demographics': [], 'target_col': None, 'index_col': ['id'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2019, 'last_updated': 'Mon Feb 26 2024', 'dataset_doi': '10.24432/C5X623', 'creators': [], 'intro_paper': None, 'additional_info': {'summary': "The dataset contains of 10'000 or 100'000 rows and of 22 columns The data has been cleaned in the way that \r\ncolumn price and square_feet never is empty but the dataset is saved as it was created.\r\n\r\nCan be used for different machine learning tasks such as clustering, classification and also regression for the squares feet column", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'id = unique identifier of apartment\ncategory = category of classified\ntitle = title text of apartment\nbody = body text of apartment\namenities = like AC, basketball,cable, gym, internet access, pool, refrigerator etc.\nbathrooms = number of bathrooms\nbedrooms = number of bedrooms\ncurrency = price in current\nfee = fee\nhas_photo = photo of apartment\npets_allowed = what pets are allowed dogs/cats etc.\nprice = rental price of apartment\nprice_display = price converted into display for reader\nprice_type = price in USD\nsquare_feet = size of the apartment\naddress =  where the apartment is located\ncityname =  where the apartment is located\nstate =  where the apartment is located\nlatitude = where the apartment is located\nlongitude = where the apartment is located\nsource = origin of classified\ntime = when classified was created', 'citation': None}}
             name     role         type demographic description units  \
0              id       ID      Integer        None        None  None
1        category  Feature  Categorical        None        None  None
2           title  Feature  Categorical        None        None  None
3            body  Feature  Categorical        None        None  None
4       amenities  Feature  Categorical        None        None  None
5       bathrooms  Feature      Integer        None        None  None
6        bedrooms  Feature  Categorical        None        None  None
7        currency  Feature  Categorical        None        None  None
8             fee  Feature  Categorical        None        None  None
9       has_photo  Feature  Categorical        None        None  None
10   pets_allowed  Feature  Categorical        None        None  None
11          price  Feature      Integer        None        None  None
12  price_display  Feature      Integer        None        None  None
13     price_type  Feature  Categorical        None        None  None
14    square_feet  Feature  Categorical        None        None  None
15        address  Feature  Categorical        None        None  None
16       cityname  Feature  Categorical        None        None  None
17          state  Feature      Integer        None        None  None
18       latitude  Feature      Integer        None        None  None
19      longitude  Feature  Categorical        None        None  None
20         source  Feature      Integer        None        None  None
21           time  Feature  Categorical        None        None  None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21             no

In [3]:
print(X.shape)

(99826, 21)

In [4]:
X['time'] = pd.to_datetime(X['time'], unit = "s")
df_sample = X.head(1000).copy()

C:\Users\tymek\AppData\Local\Temp\ipykernel_30684\2797288698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['time'] = pd.to_datetime(X['time'], unit = "s")

In [7]:
# df_sample.to_csv("csv/apartments_sample.csv")

In [6]:
(df_sample['cityname'] == "Los Angeles").sum()

11

In [9]:
X.to_csv("csv/apartments.csv")

In [4]:
df_LA = X.loc[lambda x: x["cityname"] == "Los Angeles"].copy()

In [51]:
df_test = df_LA.loc[lambda x: (x['latitude'] == 33.9550) & (x['longitude'] == -118.3967)]

In [52]:
df_LA.groupby(['latitude', 'longitude']).size().sort_values(ascending = False).head(3)

latitude  longitude
33.9550   -118.3967    155
34.0530   -118.2637    119
34.0394   -118.2656    105
dtype: int64

In [60]:
df_LA['source'].value_counts()

RentDigs.com    2321
RentLingo        103
GoSection8         4
RENTOCULAR         2
Listanza           2
RealRentals        1
RENTCaf            1
Name: source, dtype: int64

In [56]:
df_LA.isna().mean().sort_values(ascending = False)

address          0.949055
pets_allowed     0.603533
amenities        0.137223
bedrooms         0.012736
bathrooms        0.000411
category         0.000000
square_feet      0.000000
source           0.000000
longitude        0.000000
latitude         0.000000
state            0.000000
cityname         0.000000
price            0.000000
price_type       0.000000
price_display    0.000000
title            0.000000
has_photo        0.000000
fee              0.000000
currency         0.000000
body             0.000000
time             0.000000
dtype: float64

In [62]:
df_test[['bathrooms', 'bedrooms']]

      bathrooms bedrooms
7300          2        2
8280          1        1
9226          2        2
9228          2        2
9235          1        1
...         ...      ...
49500         2        2
49747         2        2
49748         2        3
49750         2        2
49752         1        1

[155 rows x 2 columns]

In [66]:
df_test['square_feet'].value_counts().sort_values(ascending = False)

700     8
897     7
762     7
801     5
960     5
       ..
1125    1
300     1
1282    1
1003    1
1176    1
Name: square_feet, Length: 78, dtype: int64

In [68]:
df_test.dtypes

category                 object
title                    object
body                     object
amenities                object
bathrooms                object
bedrooms                 object
currency                 object
fee                      object
has_photo                object
pets_allowed             object
price                   float64
price_display            object
price_type               object
square_feet              object
address                  object
cityname                 object
state                    object
latitude                float64
longitude               float64
source                   object
time             datetime64[ns]
dtype: object

In [69]:
df_test.loc[lambda x: x['square_feet'].astype(float) == 700]

,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
8280,housing/rent/apartment,"Bright Los Angeles, One BR, One BA for rent","Square footage: 700 square feet, unit number: ...","AC,Cable or Satellite,Clubhouse,Dishwasher,Ele...",1,1,USD,No,Thumbnail,Cats,...,2325,Monthly,700,NaN,Los Angeles,CA,33.955,-118.3967,RentDigs.com,2019-09-17 21:27:58
13983,housing/rent/apartment,"Los Angeles, prime location One BR, Apartment....","Square footage: 700 square feet, unit number: ...","AC,Cable or Satellite,Clubhouse,Dishwasher,Ele...",1,1,USD,No,Yes,Cats,...,2325,Monthly,700,NaN,Los Angeles,CA,33.955,-118.3967,RentDigs.com,2019-09-17 21:25:47
22660,housing/rent/apartment,Over 700 sf in Los Angeles,"Square footage: 700 square feet, unit number: ...","Clubhouse,Parking,Pool",1,1,USD,No,Thumbnail,NaN,...,2765,Monthly,700,NaN,Los Angeles,CA,33.955,-118.3967,RentDigs.com,2019-09-17 21:24:30
24080,housing/rent/apartment,Apartment in prime location,"Square footage: 700 square feet, unit number: ...","Clubhouse,Parking,Pool",1,1,USD,No,Yes,NaN,...,2745,Monthly,700,NaN,Los Angeles,CA,33.955,-118.3967,RentDigs.com,2019-09-17 21:29:24
26981,housing/rent/apartment,"Spacious One BR, One BA",Apartment homes in West have never been easier...,"AC,Cable or Satellite,Clubhouse,Dishwasher,Ele...",1,1,USD,No,Yes,Cats,...,2325,Monthly,700,NaN,Los Angeles,CA,33.955,-118.3967,RentDigs.com,2019-09-17 21:20:27
39050,housing/rent/apartment,"One BA \ $2,450/mo - ready to move in.",Apartment homes in West have never been easier...,"AC,Cable or Satellite,Clubhouse,Dishwasher,Ele...",1,1,USD,No,Yes,Cats,...,2450,Monthly,700,NaN,Los Angeles,CA,33.955,-118.3967,RentDigs.com,2019-09-17 21:20:41
41923,housing/rent/apartment,"Los Angeles, Great Location, One BR Apartment.",We have a very charming one beds apartment in ...,"Parking,Refrigerator,Tennis",1,1,USD,No,Yes,None,...,1850,Monthly,700,NaN,Los Angeles,CA,33.955,-118.3967,RentDigs.com,2019-09-17 21:27:21
41959,housing/rent/apartment,"Move-in condition, One BR One BA. Single Car G...","Square footage: 700 square ft, unit number: 54...","Clubhouse,Parking,Pool",1,1,USD,No,Yes,NaN,...,2755,Monthly,700,NaN,Los Angeles,CA,33.955,-118.3967,RentDigs.com,2019-09-17 21:24:33

In [40]:


# Unix timestamp
timestamp = 1.568755e+09

# Convert the timestamp to a datetime object
dt_object = pd.to_datetime(dt.datetime.fromtimestamp(timestamp))

In [41]:
dt_object

Timestamp('2019-09-17 23:16:40')

In [14]:
print(df_LA.shape)
df_LA.isna().sum()

(2434, 21)

category            0
title               0
body                0
amenities         334
bathrooms           1
bedrooms           31
currency            0
fee                 0
has_photo           0
pets_allowed     1469
price               0
price_display       0
price_type          0
square_feet         0
address          2310
cityname            0
state               0
latitude            0
longitude           0
source              0
time                0
dtype: int64

In [9]:
# for i in X.loc[X["cityname"] == "Los Angeles", "amenities"].unique():
#     print(i)